@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts import public saans */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Custom background with gradient and image */
.bg-gradient-with-image {
  background-image: url("https://demo-egenslab.b-cdn.net/html/softconic/preview/assets/img/footer/footer-bg.png"),
    linear-gradient(to right, #1e1c22, #1e1c22);
}

.bg-gradient-with-image-approciations {
  background-image: url("https://demo-egenslab.b-cdn.net/html/softconic/preview/assets/img/home-6/home6-testimonial-bg.png"),
    linear-gradient(#1e1c22, #1e1c22);
}

.bg-gradient-with-image-choose-us {
  background-image: url("https://demo-egenslab.b-cdn.net/html/softconic/preview/assets/img/home-6/choose-bg-1.png"),
    linear-gradient(#1e1c22, #1e1c22);
}

.bg-gradient-with-image-hero-section {
  background-image: url("/images/herobg.png");
  /* linear-gradient(180deg, rgba(5, 5, 5, 0.30) 0%, #050505 100%) */
}
.bg-gradient-with-image-hero-services {
  background-image: url("/images/hero-serversbg.png");
  /* linear-gradient(180deg, rgba(5, 5, 5, 0.30) 0%, #050505 100%) */
}
.bg-image-hero-contacts {
  background-image: url("/images/hero-contact.png");
  /* linear-gradient(180deg, rgba(5, 5, 5, 0.30) 0%, #050505 100%) */
}
.bg-image-hero-about {
  background-image: url("/images/hero-about.png");
  /* linear-gradient(180deg, rgba(5, 5, 5, 0.30) 0%, #050505 100%) */
}
.bg-image-hero-benefits {
  background-image: url("/images/hero-benefits.png");
  /* linear-gradient(180deg, rgba(5, 5, 5, 0.30) 0%, #050505 100%) */
}
.bg-image-hero-consultation {
  background-image: url("/images/hero-consultation.png");
  /* linear-gradient(180deg, rgba(5, 5, 5, 0.30) 0%, #050505 100%) */
}
.bg-gradient-with-image-client-section {
  background-image: url("/images/client-trust.png");
  /* linear-gradient(180deg, rgba(5, 5, 5, 0.30) 0%, #050505 100%) */
}
.bg-gradient-with-image-hero-section {
  background-image: url("/images/herobg.png");
  /* linear-gradient(180deg, rgba(5, 5, 5, 0.30) 0%, #050505 100%) */
}

.gradient-border {
  border: 1px solid transparent;
  border-image: linear-gradient(to right, #323232, #ffffff00, #323232) 0.5;
}

@layer utilities {
  .placeholder-style::placeholder {
    padding: 5px 12px;
    margin: 5px;
    color: #06d889;
  }
}
.late-date {
  text-align: center;
  font-family: "lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.late-day {
  color: #dedede;
  text-align: center;
  font-family: "lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.lato-normal {
  font-family: "lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  /* line-height: 118.75%;
  color: #dedede; */
}
.public-sans {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.public-sans-regular {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
}
/* Poppons font */
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}
/* Poppons font end */

.hover\:border-animation:hover::after {
  transform: scaleX(1);
}

.no-scroll {
  overflow: hidden;
}

.custom-header {
  height: calc(100vh - 0rem) !important;
}

.transition-max-height {
  transition: all 0.5s ease-in-out;
}

.max-h-0 {
  max-height: 0;
}

.max-h-screen {
  max-height: 100vh;
}
 .custom-placeholder::placeholder {
  color: #ff0000 !important; /* Red placeholder */
}

.text-area {
  margin-top: 30px !important;
}

/* Custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px; /* Adjust the scrollbar width */
  height: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #6185f2; /* Scrollbar thumb color */
  border-radius: 10px;
  height: 4px !important;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #1b1f23cc; /* Scrollbar track color */
  border-radius: 10px;
}
